<?xml version="1.0"?>
<!--
/**
 * @package    Mageown_Core
 * @author     Mageown
 * @contacts   https://mageown.com/
 */
 -->
<config>
    <modules>
        <Mageown_Core>
            <version>0.0.1</version>
        </Mageown_Core>
    </modules>
    <global>
        <helpers>
            <Mageowncore>
                <class>Mageown_Core_Helper</class>
            </Mageowncore>
        </helpers>
    </global>
</config>